---
import Layout from '../layouts/Layout.astro';
import JobCard from '../components/JobCard.astro';
import Header from '../components/Header.astro';
import Landing from '../components/Landing.astro';
import About from '../components/About.astro';
import Skills from '../components/Skills.astro';
import Experiences from '../components/Experiences.astro';
import Education from '../components/Education.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Welcome to Astro.">
	<Header />
	<main>
		<Landing />
		<About />
		<Skills />
		<Experiences />
		<Education />
		<Contact />
	</main>
</Layout>
