---
---

<section class="about-wrapper" id="about-me">
  <section class="section-about" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1000">
    <div class="subtitle-div">
      <h2 class="subtitles" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1000">About Me</h2>
      <hr class="lateral-line" data-aos="fade-left" data-aos-easing="ease-in-out" data-aos-duration="2000">
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In consequatur maiores totam natus, placeat fugiat porro unde sint hic quis ea assumenda, quisquam quidem deleniti quaerat tempore, pariatur amet non nulla? Commodi dolores quia praesentium corporis pariatur doloremque enim labore.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem id porro alias, aperiam non ea ipsam ad quasi accusamus eaque dolor, commodi necessitatibus facere eligendi.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam recusandae temporibus tempora, unde fugiat harum distinctio deleniti porro accusamus voluptatum velit! Molestiae est reprehenderit ipsa animi tempore dolorum distinctio exercitationem necessitatibus cum fugit dolore earum, consectetur nostrum debitis nulla iste, maxime, itaque provident? Iusto, porro?</p>
  </section>
</section>

<style>
  .about-wrapper {
    width: 50%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-about {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
  }

  .section-about p {
    margin-bottom: 2rem;
    line-height: 1.5rem;
  }

  

  @media all and (max-width: 959px) {

    .about-wrapper {
      width: 100%;
      margin-bottom: 5rem;
    }

  }

</style>