---
---

<section class="contact-wrapper">
  <form action="https://api.web3forms.com/submit" method="POST" id="contact-form" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1000">
    <fieldset>
      <legend>Contact Me</legend>
      <input type="hidden" name="access_key" value="205881c5-0bfa-4e93-9523-81f375f5c37d">
      <input type="hidden" name="from_name" value="CV Website">
      <div class="form-div">
        <label for="fullname-input"><i class="fa-solid fa-user"></i> Full Name:</label>
        <input type="text" name="full-name" id="fullname-input" minlength="6" maxlength="70" required placeholder="Your full name here">
      </div>
      <div class="form-div">
        <label for="email-input"><i class="fa-solid fa-envelope"></i> Email:</label>
        <input type="email" name="email" id="email-input" maxlength="100" required placeholder="Your email here">
      </div>
      <div class="form-div">
        <label for="email-input"><i class="fa-solid fa-phone"></i> Telephone:</label>
        <input type="tel" name="telephone" id="telephone-input" min="7" max="15" required placeholder="Your telephone number here">
      </div>
      <div class="form-div">
        <label for="subject-input"><i class="fa-solid fa-pen"></i> Subject:</label>
        <input type="text" name="subject" id="subject-input" minlength="6" maxlength="100" required placeholder="Your subject here">
      </div>
      <div class="form-div">
        <label for="msg-input"><i class="fa-solid fa-message"></i> Message:</label>
        <textarea name="message" id="msg-input" cols="10" rows="10" minlength="20" maxlength="400" required placeholder="Your message here"></textarea>
      </div>
      <p class="success-para"></p>
      <p class="error-para"></p>
    </fieldset>
    <input type="checkbox" name="botcheck" id="botckeck-input" style="display: none;">
    <section class="form-buttons">
      <input type="hidden" name="redirect" value="https://web3forms.com/success">
      <button type="submit" id="send-btn" class="form-btn"><i class="fa-solid fa-paper-plane"></i> Send</button>
      <button type="reset" id="reset-btn" class="form-btn"><i class="fa-solid fa-eraser"></i> Reset</button>
    </section>
  </form>
</section>

<style>
  .contact-wrapper {
    width: 50%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #contact-form {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #contact-form fieldset {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-bottom: 1rem;
  }

  #contact-form fieldset legend {
    text-align: center;
    padding-inline: 0.75rem;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .form-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .form-div label {
    margin-bottom: 0.5rem;
  }

  .form-div input, .form-div textarea {
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid gray;
    padding: 0.25rem;
    border-radius: 0.25rem;
  }

  textarea {
    resize: none;
  }

  .form-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .form-btn {
    padding: 0.75rem 2.5rem;
    border-radius: 0.25rem;
    color: white;
    text-shadow: 0 0 0.1rem #000;
  }

  .form-btn:hover {
    cursor: pointer;
  }

  #send-btn, #reset-btn {
    transition: 0.3s linear;
  }

  #send-btn {
    background-color: seagreen;
  }

  #send-btn:hover {
    background-color: springgreen;
  }

  #reset-btn {
    background-color: orangered;
  }

  #reset-btn:hover {
    background-color: orange;
  }

  .success-para {
    color: seagreen;
  }

  .error-para {
    color: crimson;
  }

  

  @media all and (max-width: 959px) {

    .contact-wrapper {
      width: 100%;
      margin-bottom: 5rem;
    }

    #contact-form fieldset {
      width: 75%;
    }

  }

  @media all and (max-width: 767px) {

  #contact-form fieldset {
    width: 90%;
  }

  }

  @media all and (max-width: 575px) {

  #contact-form fieldset {
    width: 100%;
  }

  }

</style>