---
import EduCard from "./EduCard.astro"
---

<section class="education-wrapper">
  <section class="education-section">
    <div class="subtitle-div">
      <h2 class="subtitles" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1000">Education</h2>
      <hr class="lateral-line" data-aos="fade-left" data-aos-easing="ease-in-out" data-aos-duration="1000">
    </div>
    <EduCard
      year={2018}
      institution="Uni/Institute Name"
      field="Your Career/Field of study"
      location="Uni/Institute Location"
      description="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae tempora sapiente nostrum inventore ipsa facere laboriosam possimus consequuntur laborum perferendis."
    />
    <EduCard
      year={2016}
      institution="Uni/Institute Name"
      field="Your Career/Field of study"
      location="Uni/Institute Location"
      description="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae tempora sapiente nostrum inventore ipsa facere laboriosam possimus consequuntur laborum perferendis."
    />
  </section>
</section>

<style>
  .education-wrapper {
    width: 50%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .education-section {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  @media all and (max-width: 959px) {
    .education-wrapper {
      width: 100%;
      margin-bottom: 5rem;
    }
  }

</style>