---
---

<section class="landing-wrapper" id="welcome">
  <section class="landing-section" data-aos="fade-up">
    <section class="landing-info">
      <h2 class="my-name">My Name Here</h2>
      <h3 class="my-job">Profession/Job Name Here</h3>
    </section>
    <section class="landing-data">
      <p class="basic-data"><i class="fa-solid fa-phone"></i> <strong>Phone: </strong>+12-123-456-7890</p>
      <p class="basic-data"><i class="fa-solid fa-envelope"></i> <strong>Email: </strong>emailsomething@domain.com</p>
      <p class="basic-data"><i class="fa-solid fa-map-location-dot"></i> <strong>Location: </strong>City, State - Country</p>
      <section class="landing-social">
        <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook fb-icon"></i></a>
        <a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin lk-icon"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram ig-icon"></i></a>
        <a href="https://www.youtube.com/" target="_blank"><i class="fa-brands fa-youtube yt-icon"></i></a>
      </section>
    </section>
  </section>
  <section class="profile-section">
    <figure class="profile-fig">
      <img class="profile-img" src="/images/profile-picture.jpg" alt="profile picture" data-aos="zoom-out">
    </figure>
  </section>
</section>

<style>
.landing-wrapper {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing-section {
  width: 50%;
  min-width: 50%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-info, .landing-data {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.landing-social {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing-social a {
  color: #000;
}

.fb-icon, .lk-icon, .ig-icon, .yt-icon {
  transition: 0.3s linear;
}

.fb-icon:hover {
  color: #3b5998;
}

.lk-icon:hover {
  color: #0072b1;
}

.ig-icon:hover {
  color: #ee2a7b;
}

.yt-icon:hover {
  color: #FF0000;
}

.my-name {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.my-job {
  margin-bottom: 2rem;
}

.basic-data {
  margin-bottom: 1rem;
}

.profile-section {
  width: 50%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  top: 0;
  background-color: slategray;
}

.profile-fig {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-radius: 1rem;
  padding: 1rem;
}

.profile-img {
  width: 100%;
  border-radius: 1rem;
  filter: drop-shadow(0rem 0rem 0.05rem lightgray );

  transition: 0.3s linear;
}

.profile-img:hover {
  filter: drop-shadow(0rem 0rem 0.2rem lightgray );
}





/*------ to 767px -------*/

@media all and (max-width: 767px) {

  .landing-section {
    margin-bottom: 5rem;
  }

  .profile-section {
    margin-bottom: 3rem;
  }

  .profile-fig {
    width: 80% !important;
  }
}

@media all and (max-width: 959px) {

  .landing-wrapper {
    flex-direction: column-reverse
  }

  .landing-section {
    width: 100%;
    margin-bottom: 5rem;
  }

  .landing-info, .landing-data {
    align-items: center;
  }

  .profile-section {
    width: 100%;
    position: unset;
    margin-bottom: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .profile-fig {
    width: 50%;
    border-top: 0px solid lightgray;
    border-bottom: 0px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
  }

}

/*------ to 479px -------*/

@media all and (max-width: 479px) {

  .landing-info, .landing-data {
    align-items: flex-start;
  }

}

/*------ to 375px -------*/

@media all and (max-width: 375px) {

  .my-name {
    font-size: 2.25rem;
  }

  .profile-fig {
    width: 90%;
  }

}

</style>