---
---

<section class="skills-wrapper">
  <section class="skills-section">
    <div class="subtitle-div">
      <h2 class="subtitles" data-aos="fade-up">My Skills</h2>
      <hr class="lateral-line" data-aos="fade-left">
    </div>
    <ul>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam soluta repudiandae omnis veniam blanditiis labore ex nam. Odio, aperiam nisi!</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus earum commodi iure magni, officiis ullam dolor labore quibusdam placeat inventore.</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt suscipit consectetur ad, ab minus hic debitis sunt dolorem, omnis, reiciendis consequuntur officia dicta fugiat quas.</li>
      <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum non veniam harum eaque atque neque.</li>
      <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure minus temporibus illum quidem. Minus nesciunt soluta corrupti.</li>
    </ul>
  </section>
</section>

<style>
  .skills-wrapper {
    width: 50%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skills-section {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skills-section ul {
    width: 100%;
  }

  .skills-section ul li {
    margin-bottom: 1rem;
    line-height: 1.5rem;
  }

  @media all and (max-width: 959px) {

    .skills-wrapper {
      width: 100%;
      margin-bottom: 5rem;
    }

  }
</style>