---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<!---- Google fonts of Ubuntu {font-family: "Ubuntu", sans-serif;} {font-family: "Ubuntu Sans", sans-serif;} {font-family: "Ubuntu Condensed", sans-serif; and 'Playfair Display' {font-family: "Playfair Display", serif;}} ---->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ubuntu+Condensed&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
		<script type="module" src="/src/js/hamMenu.js"></script>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>

	* {
		border: 0;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		outline: none;
		font-family: "Ubuntu Sans", sans-serif;
	}

	*::selection {
		background-color: slategray;
		color: white;
	}

	html {
		background: white;
		scroll-behavior: smooth;
	}

	nav ul li a {
		text-decoration: none;
	}

	.page-title a, .subtitles, .my-name {
		font-family: "Playfair Display", serif;
		font-weight: 500;
	}

	.subtitles {
		width: 100%;
		text-align: left;
		margin-bottom: 2rem;
	}

	.icon-size {
		font-size: 1rem;
	}

	
</style>
